.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: left;
  font-size: 16px;
  hyphens: manual;
}
.button {
  font-size: 10px;
  padding: 3px 5px;
  border: 1px solid #4b4a4a;
  border-radius: 5px;
  background-color: #a6dbd6;
  color: #222222;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.button:hover {
  background-color: #618582;
  color: #fff;
}

.number {
  margin-inline: 15px;
  color: rgb(0, 56, 101);
  font-style: oblique;
  line-height: 1.7;
}
